<div class="container-fluid">
    <div class="row">
        <div class="col-xl">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <app-recipes></app-recipes>
        </div>
        <div class="col-xl">
            <!-- <app-shopping-list></app-shopping-list> -->
            <app-recipe-detail></app-recipe-detail>
        </div>
    </div>
    <div class="row">
        <div class = "col-xl-12 ">
            <app-shopping-list></app-shopping-list>
        </div>
       
    </div>
</div>

